@import 'nativescript-theme-core/css/purple.css';



Button {
    background-color: limegreen;
    border-radius: 2;
    padding: 5;
    margin: 5;
}

ListView {
    separator-color: transparent;
}

.container {
  background-image: url("res://gradient");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-size: 15;
}

.card {
    background-color: limegreen;
    padding: 5;
    margin: 5;
    border-radius: 2;
}
.btn {
  font-size: 30;
  padding: 5;
  margin: 10;
}
.btn1 {
    background-color: red;
}
.btn2 {
    background-color: orange;
}
.btn3 {
    background-color: yellow;
}
.btn4 {
    background-color: green;
}
.btn5 {
    background-color: blue;
}

/*tally*/
.tally {
    color: white;
    font-size: 30;
    z-index: 1;
    padding-top: 20;
    padding-right: 20;
}