<h1>EmotiNg<span>: Tell us how you really feel!</span></h1>

<div class="container">
  <p>This app was used for a live demo at ng-conf 2017. You can <a href="https://www.youtube.com/watch?v=j2S5OrMUj9g">view the presentation on YouTube</a>.

  <div *ngFor="let photo of photos | async" class="card">

    <img class ="photo" src="{{ photo.path }}" alt="Emoting Photo">
    <span class="tally">
      Votes:<br>
      <b>{{ photo.emoji1 + photo.emoji2 + photo.emoji3 + photo.emoji4 + photo.emoji5 }}</b>
      </span>

    <div class="chart-wrapper">
      <kendo-chart style="height: 200px;">
        <kendo-chart-series>
          <kendo-chart-series-item
            type="column"
            spacing="2"
            [data]="[
              { value: photo.emoji1, color: 'red' },
              { value: photo.emoji2, color: 'orange' },
              { value: photo.emoji3, color: 'yellow' },
              { value: photo.emoji4, color: 'green' },
              { value: photo.emoji5, color: 'blue' }
            ]" >
          </kendo-chart-series-item>
        </kendo-chart-series>
      </kendo-chart>
    </div>

    <div class="emote-buttons">
      <button class="btn btn1 💩" [class.active]="votingRecord[photo.$key] == 1"
        [disabled]="votingRecord[photo.$key]" (click)="vote(1, photo)">💩</button>
      <button class="btn btn2 😍" [class.active]="votingRecord[photo.$key] == 2"
        [disabled]="votingRecord[photo.$key]" (click)="vote(2, photo)">😍</button>
      <button class="btn btn3 😮" [class.active]="votingRecord[photo.$key] == 3"
        [disabled]="votingRecord[photo.$key]" (click)="vote(3, photo)">😮</button>
      <button class="btn btn4 😂" [class.active]="votingRecord[photo.$key] == 4"
        [disabled]="votingRecord[photo.$key]" (click)="vote(4, photo)">😂</button>
      <button class="btn btn5 😐" [class.active]="votingRecord[photo.$key] == 5"
        [disabled]="votingRecord[photo.$key]" (click)="vote(5, photo)">😐</button>
    </div>
  </div>
</div>