.card {
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  width: 325px;
  margin: 1em;
}

.photo {
  height: 325px;
  object-fit: cover;
}

.emote-buttons {
  width: 98%;
  margin: 0 auto;
  padding: .25em;
}


button {
  font-size: 1.5em;
}

[class*="row"] {
  justify-content: center;
}

[class*="col-"] {
  background: #efefef;
  border: 1px solid #ddd;
  padding-top: .75rem;
  padding-bottom: .75rem;
  width: 100%;
}


