<h1>EmotiNg</h1>

<div class="container">
  <div *ngFor="let photo of photos | async" class="card">
    <img class ="photo" src="{{ photo.path }}" alt="Emoting Photo">
    <div class="chart-wrapper">
      <kendo-chart style="height: 200px;">
        <kendo-chart-series>
          <kendo-chart-series-item
            type="column"
            spacing="2"
            [data]="[
              photo.emoji1,
              photo.emoji2,
              photo.emoji3,
              photo.emoji4,
              photo.emoji5
            ]" >
          </kendo-chart-series-item>
        </kendo-chart-series>
      </kendo-chart>
    </div>
    <div class="emote-buttons">
      <button class="btn btn1 💩">💩</button>
      <button class="btn btn2 😍">😍</button>
      <button class="btn btn3 😮">😮</button>
      <button class="btn btn4 😂">😂</button>
      <button class="btn btn5 😐">😐</button>
    </div>
  </div>
</div>

