/* You can add global styles to this file, and also import other style files */
.card {
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  img {
    width: 100%;
  }
}

[class*="row"] {
  margin-bottom: 1em;
  justify-content: center;
}

[class*="col-"] {
  background: #efefef;
  border: 1px solid #ddd;
  padding-top: .75rem;
  padding-bottom: .75rem;
  width: 100%;
}

